html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

::-webkit-input-placeholder {
  color: #c2d3ff;
  font-family: "Libre Franklin", sans-serif;
}

:-ms-input-placeholder {
  color: #c2d3ff;
  font-family: "Libre Franklin", sans-serif;
}

::-ms-input-placeholder {
  color: #c2d3ff;
  font-family: "Libre Franklin", sans-serif;
}

::placeholder {
  color: #c2d3ff;
  font-family: "Libre Franklin", sans-serif;
}

*:focus {
  outline: none;
}

.error-input {
  border: 1.4px solid #ff5263 !important;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Libre Franklin", sans-serif;
  font-size: 20px;
}

.container {
  height: 100%;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.logo {
  margin-bottom: 40px;
  margin-top: 82px;
}

.heading {
  text-align: center;
}

.heading h1 {
  font-weight: 300;
  color: #969696;
  font-size: 22px;
  margin-bottom: 20px;
}

.heading span {
  color: #151f29;
  font-weight: 700;
}

.heading p {
  font-size: 12px;
  color: #151f29;
  font-weight: 300;
  margin-bottom: 32px;
}

.email-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.email-input input {
  width: 280px;
  height: 40px;
  border-radius: 50px;
  border: 1.2px solid #c2d3ff;
  padding-left: 30px;
  margin-bottom: 10px;
}

.email-input .notify {
  width: 280px;
  height: 40px;
  border-radius: 50px;
  background-color: #4f7df3;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 4px 20px #c2d3ff;
          box-shadow: 0 4px 20px #c2d3ff;
  margin-bottom: 70px;
  cursor: pointer;
  font-weight: 600;
}

.email-input .notify:hover {
  background-color: #c2d3ff;
}

.error {
  font-size: 12px;
  text-align: center;
  color: #ff5263;
}

.error p {
  margin-bottom: 20px;
  font-style: italic;
}

.content-img {
  margin-bottom: 120px;
}

.content-img img {
  width: 320px;
  height: 200px;
}

.footer {
  text-align: center;
}

.footer p {
  font-size: 10px;
  font-weight: 300;
  margin-bottom: 35px;
}

.footer .social-icons {
  margin-bottom: 30px;
}

.footer .icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #c2d3ff;
  line-height: 1.8;
  font-size: 16px;
  color: #4f7df3;
  cursor: pointer;
}

.footer .icon:hover {
  background-color: #4f7df3;
  color: #fff;
}

@media (min-width: 576px) {
  .heading h1 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .heading p {
    font-size: 15px;
    margin-bottom: 25px;
  }
  .logo {
    margin-top: 42px;
    margin-bottom: 30px;
  }
  .email-input {
    margin-bottom: 10px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 90px;
  }
  .email-input input {
    margin-right: 10px;
    width: 300px;
  }
  .email-input .notify {
    height: 40px;
    width: 150px;
    font-size: 12px;
  }
  .content-img {
    margin-bottom: 36px;
  }
  .content-img img {
    width: 460px;
    height: 320px;
  }
  .footer p {
    font-size: 12px;
  }
  .error p {
    text-align: left;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */